parameters:
    container:
        class: Systemcontainer

php:
    date.timezone: Europe/Prague

database:
    explain: false

services:
    - Filsedla\CustomRowClass\Database
    - Filsedla\CustomRowClass\RowClassesBuilder(%tempDir%)

