parameters:
    container:
        class: Systemcontainer

    rowClasses:
        author: Filsedla\CustomRowClass\Model\Author
        book: Filsedla\CustomRowClass\Model\Book
        tag: Filsedla\CustomRowClass\Model\Tag

php:
    date.timezone: Europe/Prague

database:
    explain: false

services:
    - Filsedla\CustomRowClass\Database
    - Filsedla\CustomRowClass\RowClassesBuilder(%rowClasses%, %tempDir%)
    - Filsedla\CustomRowClass\ActiveRowWrapperFactory(%rowClasses%)

