parameters:
    container:
        class: Systemcontainer

    rowClasses:
        author: Filsedla\CustomRowClass\Model\Author
        book: Filsedla\CustomRowClass\Model\Book

php:
    date.timezone: Europe/Prague

database:
    explain: false

services:
    - Filsedla\CustomRowClass\Database
    - Filsedla\CustomRowClass\RowClassesBuilder(%tempDir%)
    - Filsedla\CustomRowClass\ActiveRowWrapperFactory(%rowClasses%)

