parameters:
    container:
        class: SystemContainer

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    hyperrow: Filsedla\Hyperrow\Extension

hyperrow:
#    dir: %appDir%/model/database/generated    # needed only for generator
    namespace: Example\Model\Database

services:
    router: App\RouterFactory::createRouter

    - Example\Model\Database\Database

    - Example\Model\DummyProcessingService

    special.dummy.processing.service:
        factory: Example\Model\DummyProcessingService
        autowired: no

    - Example\Model\Database\AuthorHyperRow(@special.dummy.processing.service) # best if autowired: no


