hyperrow:
    dir: %appDir%/model/generated
    classes:
        database:
            generated: Model\GeneratedDatabase
        selection:
            base: Model\BaseSelection
            generated: Model\*GeneratedSelection
            *: Model\*Selection
        row:
            base: Model\BaseRow
            generated: Model\*GeneratedRow
            *: Model\*Row
    methods:
        database:
            table:
                - table*
                - get*
        selection:
            where:
                - where*
                - with*
        row:
            ref:
                - referenced*
                - get*
            related:
                - related*
                - get*
            column:
                - get*
    tables: NULL
