hyperrow:
    dir: %appDir%/model/generated
    classes:
        database:
            generated: Model\GeneratedDatabase
        selection:
            base: Model\BaseSelection
            generated: Model\*GeneratedSelection
            mapping: Model\*Selection
        row:
            base: Model\BaseRow
            generated: Model\*GeneratedRow
            mapping: Model\*Row
    methods:
        database:
            table:
                - table*
                - get*
        selection:
            where:
                - where*
                - with*
            whereRelated:
                - in*
            whereRelatedWith:
                - in*
        row:
            ref:
                - referenced*
                - get*
            related:
                - getRelated*s
                - get*s
            getter:
                - get*
    tables: NULL
